@page "/add-country"
@layout MainLayout
@inherits CaApp.Pages.AddCountryComponent

@using Radzen
@using Radzen.Blazor
@using CaApp.Models.ConData
@using Microsoft.AspNetCore.Identity;
@using CaApp.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@country" Visible="@(country != null)" TItem="CaApp.Models.ConData.Country" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Country Name" Component="CountryName" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(country.CountryName)" Name="CountryName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="CountryName" Text="CountryName is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
